<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F570DB66284D8B8C000ADC03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F570DB6F284D8B8C000ADC03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57B0ADA2712DB440062F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57B0AE32712DB440062F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5935C29279C0B5000CC34CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D4F2F728483D4F00B9DFF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
